:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --color-page-bg: #f0fbfc;
  --color-table-bg: #ffffff;
  --color-row-alt: #f0fdfd;
  --color-header-bg: #c0e9e9;
  --color-header-sorted: #99dada;

  --color-text-primary: #1f2124;
  --color-text-secondary: #2D3142;
  --color-text-muted: #1f212480;

  --color-border: #ffffff;

  --color-accent: #45a31f;
  --color-accent-hover: #5dd240;

  --color-male-bg: #4bc6ff41;
  --color-female-bg: #ff8d4b28;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  color: var(--text);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  all: unset;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
  --color-page-bg: #121416;
  --color-table-bg: #1b1f23;
  --color-row-alt: #1f252a;
  --color-header-bg: #243138;
  --color-header-sorted: #2e444d;

  --color-text-primary: #e6edf3;
  --color-text-secondary: #c9d1d9;
  --color-text-muted: rgba(230, 237, 243, 0.5);

  --color-border: #2f363d;

  --color-accent: #ff7a5c;
  --color-accent-hover: #ff9b85;

  --color-male-bg: rgba(75, 198, 255, 0.2);
  --color-female-bg: rgba(255, 141, 75, 0.2);
  }
}